In [1]:
!wget "https://www.ncei.noaa.gov/orders/cdo/2164746.csv"

--2020-05-28 23:10:00--  https://www.ncei.noaa.gov/orders/cdo/2164746.csv
Resolving www.ncei.noaa.gov (www.ncei.noaa.gov)... 205.167.25.177, 205.167.25.178, 205.167.25.171, ...
Connecting to www.ncei.noaa.gov (www.ncei.noaa.gov)|205.167.25.177|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19793742 (19M) [text/csv]
Saving to: ‘2164746.csv’

2164746.csv         100%[===================>]  18.88M  3.48MB/s    in 13s

2020-05-28 23:10:14 (1.45 MB/s) - ‘2164746.csv’ saved [19793742/19793742]

In [18]:
import pandas as pd
pd.set_option('max_columns', None)

In [3]:
df = pd.read_csv('2164746.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7,9,11,13,15,17,19,21,25,27,29,31,33,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
print(df.NAME.unique())

['REDMOND AIRPORT, OR US' 'TERREBONNE 9.4 NW, OR US' 'BEND 2.4 NW, OR US'
 'TERREBONNE 9 NW, OR US' 'SISTERS, OR US' 'SISTERS 3.2 ENE, OR US'
 'BEND 2 NW, OR US' 'BEND 10.2 WSW, OR US' 'SISTERS 2.0 WNW, OR US'
 'COLGATE OREGON, OR US' 'BEND 3.0 NNE, OR US' 'BEND 2.7 E, OR US'
 'BEND 2.3 WNW, OR US' 'BEND 5.1 NNW, OR US' 'TUMALO RIDGE OREGON, OR US'
 'BEND, OR US' 'REDMOND 2.9 NNW, OR US' 'BEND 7 NE, OR US'
 'BEND 2.5 NW, OR US' 'REDMOND 1.3 WNW, OR US' 'SISTERS 2.6 WNW, OR US'
 'BEND 0.8 ESE, OR US' 'REDMOND 5.4 NNW, OR US' 'BEND 6.3 N, OR US'
 'REDMOND 2.1 N, OR US' 'REDMOND 1.8 WSW, OR US' 'BEND 1.5 WSW, OR US'
 'REDMOND AIR CENTER, OR US']

In [16]:
print(df.columns)

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND',
       'AWND_ATTRIBUTES', 'DAEV', 'DAEV_ATTRIBUTES', 'DAPR', 'DAPR_ATTRIBUTES',
       'DASF', 'DASF_ATTRIBUTES', 'DAWM', 'DAWM_ATTRIBUTES', 'EVAP',
       'EVAP_ATTRIBUTES', 'FMTM', 'FMTM_ATTRIBUTES', 'MDEV', 'MDEV_ATTRIBUTES',
       'MDPR', 'MDPR_ATTRIBUTES', 'MDSF', 'MDSF_ATTRIBUTES', 'MDWM',
       'MDWM_ATTRIBUTES', 'MNPN', 'MNPN_ATTRIBUTES', 'MXPN', 'MXPN_ATTRIBUTES',
       'PGTM', 'PGTM_ATTRIBUTES', 'PRCP', 'PRCP_ATTRIBUTES', 'SNOW',
       'SNOW_ATTRIBUTES', 'SNWD', 'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES',
       'TMAX', 'TMAX_ATTRIBUTES', 'TMIN', 'TMIN_ATTRIBUTES', 'TOBS',
       'TOBS_ATTRIBUTES', 'TSUN', 'TSUN_ATTRIBUTES', 'WDF2', 'WDF2_ATTRIBUTES',
       'WDF5', 'WDF5_ATTRIBUTES', 'WDMV', 'WDMV_ATTRIBUTES', 'WESD',
       'WESD_ATTRIBUTES', 'WESF', 'WESF_ATTRIBUTES', 'WSF2', 'WSF2_ATTRIBUTES',
       'WSF5', 'WSF5_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT02',
       'WT02_ATTRIBUTES', 'WT03', 'WT03_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES',
       'WT05', 'WT05_ATTRIBUTES', 'WT06', 'WT06_ATTRIBUTES', 'WT07',
       'WT07_ATTRIBUTES', 'WT08', 'WT08_ATTRIBUTES', 'WT09', 'WT09_ATTRIBUTES',
       'WT11', 'WT11_ATTRIBUTES', 'WT13', 'WT13_ATTRIBUTES', 'WT15',
       'WT15_ATTRIBUTES', 'WT16', 'WT16_ATTRIBUTES', 'WT17', 'WT17_ATTRIBUTES',
       'WT18', 'WT18_ATTRIBUTES', 'WT19', 'WT19_ATTRIBUTES', 'WT22',
       'WT22_ATTRIBUTES', 'WV03', 'WV03_ATTRIBUTES'],
      dtype='object')

In [19]:
df.describe()

,LATITUDE,LONGITUDE,ELEVATION,AWND,DAEV,DAPR,DASF,DAWM,EVAP,FMTM,MDEV,MDPR,MDSF,MDWM,MNPN,MXPN,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TOBS,TSUN,WDF2,WDF5,WDMV,WESD,WESF,WSF2,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT11,WT13,WT15,WT16,WT17,WT18,WT19,WT22,WV03
count,89287.000000,89287.000000,89287.000000,7331.000000,10.000000,1109.000000,2.000000,12.0,3722.000000,4210.000000,10.000000,1153.000000,6.000000,12.000000,3659.000000,3659.000000,4003.000000,71468.000000,54245.000000,31262.000000,19969.000000,50425.000000,50303.000000,22537.000000,1174.0,7331.000000,7315.000000,3306.000000,370.000000,787.000000,7331.000000,7315.000000,1360.0,280.0,243.0,16.0,292.0,50.0,27.0,536.0,31.0,9.0,693.0,1.0,1565.0,22.0,495.0,99.0,176.0,42.0
mean,44.197410,-121.348705,1023.321219,6.455725,2.100000,4.399459,3.000000,2.0,0.252654,1598.770309,0.230000,0.171882,1.716667,90.416667,47.079803,73.726701,1473.893330,0.030736,0.092285,0.701184,47.063198,61.460089,33.029501,42.323912,0.0,268.157141,261.907040,67.554174,0.208108,0.130114,18.228809,23.304593,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,0.116661,0.156302,100.599232,2.698615,0.316228,4.587501,1.414214,0.0,0.804076,930.317428,0.094868,0.323048,1.254235,53.404662,8.594833,11.659755,440.495529,0.109155,0.699900,2.995028,14.442599,17.934215,11.690348,14.574907,0.0,85.085627,90.037589,438.900140,0.471162,0.236913,5.912100,7.834595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
min,44.036553,-121.605600,806.800000,0.000000,2.000000,2.000000,2.000000,2.0,0.000000,1.000000,0.100000,0.000000,0.310000,39.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-8.000000,-1.000000,-28.000000,-19.000000,0.0,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,44.070400,-121.511897,947.600000,4.700000,2.000000,2.000000,2.500000,2.0,0.150000,1402.000000,0.200000,0.000000,0.627500,58.750000,41.000000,66.000000,1329.000000,0.000000,0.000000,0.000000,36.000000,47.000000,26.000000,32.000000,0.0,210.000000,200.000000,34.200000,0.000000,0.000000,14.100000,17.900000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,44.255800,-121.338490,999.700000,6.040000,2.000000,3.000000,3.000000,2.0,0.230000,1606.000000,0.200000,0.030000,1.750000,76.450000,48.000000,76.000000,1535.000000,0.000000,0.000000,0.000000,45.000000,60.000000,32.000000,41.000000,0.0,300.000000,300.000000,44.700000,0.000000,0.000000,17.900000,23.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,44.302212,-121.210200,1115.600000,7.610000,2.000000,4.000000,3.500000,2.0,0.300000,1740.000000,0.300000,0.200000,2.872500,94.125000,53.000000,82.000000,1713.000000,0.000000,0.000000,0.000000,58.000000,76.000000,41.000000,52.000000,0.0,330.000000,330.000000,55.900000,0.200000,0.100000,21.900000,28.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,44.449458,-121.139200,1434.100000,19.010000,3.000000,62.000000,4.000000,2.0,30.000000,9999.000000,0.400000,2.600000,2.990000,198.200000,80.000000,100.000000,2359.000000,3.400000,30.000000,100.000000,107.000000,117.000000,104.000000,106.000000,0.0,360.000000,360.000000,14935.300000,5.500000,1.900000,45.000000,64.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0